/*gombok*/
.btn {
  background-color: #CC9966;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  transform: translateX(5px);

}

#gombletoltes.btn,#gombalso1.btn,#gombalso2.btn,#gombalso3.btn,#emailbutton,#kontaktgomb.btn,#fooldalgomb.btn{

  background-color: #CC9966;
  border-color: #CC9966;
  color: white;
}
#gombletoltes.btn:hover,#gombalso1.btn:hover,#gombalso2.btn:hover,#gombalso3.btn:hover,#emailbutton:hover,#kontaktgomb.btn:hover,#fooldalgomb.btn:hover{
  transform: translateY(-5px);
}
/*hatter*/
.hatterkep{
  background-image: url('../assets/backgg.jpg');
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}
/*Navigációs-menü*/
#navbar1{  
  opacity: 0.91; 
  filter:(opacity=50);

}
.navbar .navbar-nav .nav-link{
  color: #CC9966;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
  color: #CC9966;
}
.navbar .navbar-nav .nav-item{
  position: relative;
}
.navbar .navbar-nav .nav-item::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #CC9966;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after{
  width: 100%;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #CC9966;
}
#logoszoveg{
  color: #CC9966;
  font-size: x-large;
  font-weight: bold;
}
p{
  text-align: justify;
  text-size-adjust: 150%;
  font-size: 16px;
}
/*Beágyazásokhoz-kell hogy reszponzív legyen*/
.container3 {
  height: 100%;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}
.iframe-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.container2{
  height: 100%;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}
.container3{
  height: 100%;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}
.iframe-wrapper2 {
  position: relative;
  height: 0;
  padding-top: 75%;
  overflow: hidden;
}

.iframe-wrapper2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/*Képnézegető*/
.carousel {
  width: auto;
  max-height: 768px;
  overflow: hidden;
  border-radius: 10px;
}
.nagyithato img{
  border-radius: 10px solid transparent;
  margin-left: -20px !important;
  margin-right: -20px !important;
}

@media screen and (max-width: 768px) {
  .carousel {
    margin-left: -20px !important;
    margin-right: -20px !important;
    width: inherit !important;
  }
}

@media (max-width: 768px) {
  .carousel:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.carousel .carousel > .carousel-control {
  visibility: hidden;
}

.carousel .carousel-control {
  visibility: visible;
  color: white;
}

.carousel .carousel-inner {
  background-color: #000000;
}

.carousel .carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  padding-bottom: 0;
}

.carousel .item img {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}
/*Árak*/
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/*email-form*/
#emailh2{
  font-weight: bold;
}
.naygithato img { transition: all .2s ease-in-out; }
.nagyithato img:hover { transform: scale(1.1); }




   




